.blog-post {
    font-weight: 500;
    font-family: serif;
    font-style: italic;
}

.post-body {
    margin: 0px 50px;
    text-align: left;
}

.blog-page {
    position: relative;
    top: 35vh;
}

#blog-link {
    font-style: italic;
    text-decoration: underline !important;
}