#contact {
    text-align: center;
    position: absolute;
    width: 100vw;
}

#contact .square {
    width: 50vw;
    height: 60vh;
    top: 55%;
    padding: 1rem 2rem 2rem;
}

input#person-name, input#email-address {
    border-width: 0px 0px 2px 0px;
    width: 17rem;
    padding-top: 10px;
    font-size: 1.1rem;
    font-family: "Lato", "Gill Sans", sans-serif;
}

input:focus, textarea:focus {
    text-emphasis: none;
    text-decoration: none;
}

textarea {
    border-width: 0px 0px 2px 0px;
    font-size: 1.2rem;
    width: 17rem;
    resize: none;
}

textarea:focus {
    text-decoration: none;
}

::placeholder, #submit {
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
}

textarea::placeholder {
    font-size: 1.1rem;
}

input[type="submit"] {
    font-family: 'Playfair Display', serif;
    background-color: white;
    border: black solid 2px;
    font-size: 1.1rem;
}

fieldset {
    border: none;
    margin-left: 0px;
    padding-left: 0px;
}

#contact a {
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
    #contact .square {
        width: 100vw;
        height: 60vh;
        top: 55%;
        padding: 1rem 2rem 2rem;
    }

    .page-text {
        line-height: 1.5;
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    textarea {
        height: 6rem;
    }
}
