.menu {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(20, 5%);
    justify-content: center;
    align-content: center;
    border-right: 1px solid black;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    padding: 0px;
    margin: 0px;
}

#logo {
    grid-row: 2;
    grid-column: 3;
}

.link {
    grid-column: 3 / 9;
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: royalblue;
}

#menu-about {
    grid-row: 5;
}

#menu-portfolio {
    grid-row: 6;
}

#menu-resume {
    grid-row: 7;
}

#menu-blog {
    grid-row: 8;
}

#menu-contact {
    grid-row: 9;
}

#menu-symbol {
    grid-column: 5 / 6;
    grid-row: 15;
}

#menu-symbol {
    width: 100%;
    color: white;
    font-size: 20px;
}

#signature {
    width: 80px;
}