#portfolio-body {
    display: grid;
    grid-template-columns: 1.8fr .3fr 7fr .3fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
        "project-title . description . "
        "projects       . description . ";
    height: 70vh;
    width: 100vw;
}

#github-logo {
    height: 1.4rem;
    display: inline-block;
    margin-left: 10px;
}

#project-title {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    border-right-color: rgb(255,255,255,.1);
    border-right-style: solid;
    margin: 0px;
    padding: 1rem 0rem;
    display: inline-block;
}

#project-description {
    grid-area: title;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    margin: 0px;
    padding: 1rem;
    display: inline-block;
}

#project-description a, #project-description a:visited {
    color: white;
}


#description-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
}

#project-names {
    border-right-color: rgb(255,255,255,.1);
    border-right-style: solid;
    grid-area: projects;
    display: grid;
    text-align: left;
    grid-template-rows: repeat(15, 1fr);
}

#project-name-stocker {
    grid-row: 1
}

#project-name-pro_build {
    grid-row: 2
}

#portfolio .page-header, .description, .project-name, #description-title, .portfolio-item p {
    color: white;
}

.bullets p {
    margin-top: 0px;
}

#portfolio .page-header {
    border-bottom-color: rgb(255,255,255,.1);
    border-bottom-style: solid;
    padding-bottom: 21px;
    margin-bottom: 0px;
}

.project{
    width: 100%;
    grid-area: description;
    overflow: hidden;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: 
        "title"
        "body";
}

.carousel-root {
    width: 90%;
    grid-column: 2;
    margin-right: 0px;
}
.portfolio-item img {
    max-width: 100%;
    max-height: 100%;
}

.description {
    text-align: center;
    margin-top: 0px;
    padding-right: 20px;
    grid-column: 1;
    grid-row: 1;
    margin-top: 5px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-name {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 2rem
}

#portfolio {
    background-color:rgb(0,0,0,.9);
    top: 15vh;
    position: absolute;
    height: 100vh;
    width: 100vw;
    transition: .6s;
}

#portfolio.hidden {
    top:100vh;
    transition: .6s;
    display: block;
}

.bullets {
    text-align: left;
    height: 100%;
}

ul.thumbs.animated {
    padding-left: 0px;
}

.portfolio-item {
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
    #portfolio-body {
        display: block;
        width: 100vw;
    }

    #project-title {
       font-size: 1.75em;
       border-right: none;
       width: 100%;
       border-bottom: rgb(255,255,255,.1) 2px solid;
    }

    .project-name {
        font-size: 1.4rem;
        padding: 1.4rem 2rem 0rem;
    }

    .project-name .active {
        top: 10%;
    }

    #project-names {
        border-right-color: rgb(255,255,255,.1);
        height: 100%;
        width: 100%;
        border-right-style: solid;
        grid-column: 1;
        grid-row: 2;
        display: grid;
        text-align: left;
        grid-template-rows: repeat(15, 1fr);
        transition: height .5s ease-out;
    }

    #arrow {
        display: inline-block;
        height: 2.2rem;
        position: absolute;
        right: 50px;
        top: 105px;
        transition: transform .1s;
    }

    #arrow.up {
        transform: rotateX(180deg);
        transition: transform .1s;
    }

    #project-names.hidden {
        height: 0px;
        visibility: hidden;
        transition: height .5s;
    }

    .portfolio-item {
        grid-area: body;
        display: inline;
        overflow-y: scroll;
    }

    .portfolio-item .description {
        grid-row: 2;
    }

    .project {
       overflow-y: scroll;
       display: block;
    }

    .carousel-root {
        margin: 0 auto;
    }

    .carousel.thumb {
        width: 60px;
    }

    .description {
        padding: 0px;
    }
}
