:root {
  --font-main: 'Inconsolata', monospace;
}

html {
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: .8rem;
  position: absolute;
}

h2 {
  font-size: .8rem;
}

html {
  background-color: seashell;
  overflow: hidden;
}

p, li {
  font-size: .8rem;
  letter-spacing: 1px;
}

button {
  color: seashell;
  transition: color 1.5s;
  border: none;
  position: absolute;
  font-family: var(--font-main);
  font-weight: 600;
  letter-spacing: 4px;
  background-color: seashell;
  font-size: .6rem;
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-main);
  letter-spacing: 4px;
  font-size: .8rem;
}

#container {
  color: seashell;
  transition: color 1s ease-out;
}

#logo > div, hr {
  position: absolute;
}

#logo {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 25%;
  top: 40%;
  font-weight: 600;
}

#morgan {
  color: seashell;
  transition: color 1s ease-out;
  letter-spacing: 6px;
  top: 54px;
  left: 35.5px;
}

#stanley {
  color: seashell;
  transition: color 1s ease-out;
  left: 94px;
  top: 3px;
  text-orientation: upright;
  writing-mode: vertical-lr;
  letter-spacing: 3px;
}

#line {
  color: seashell;
  transition: color 1s ease-out;
  width: 0px;
  position: absolute;
  left: 115px;
  top: 53px;
}

hr {
  border: none;
  border-top: 2px solid black;
}

hr#line.long {
  width: 80px;
  transition: all 1s;
}

#nav {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 60%;
  top: 50%;
}

#nav > button{
  font-size: .6rem;
}

#portfolio {
  top: 80px;
}

#about {
  top: 20px;
  right: 140px;
  transition: 3s;
}

#contact {
  top: 60px;
}

#resume {
  top: 40px;
}

#blog {
  top: 0px;
}

#nav .appear, #logo .appear {
  color: black;
  transition: all 1s;
}

#nav button#portfolio.appear.move {
  top: 30px;
  left: -560px;
}

button:hover {
  border: 1.5px solid black;
  border-radius: 2px;
}

h2 {
  text-align: center;
}

#line2 {
  width: 0px;
  height: 2px;
  position: absolute;
  right: 210px;
  top: 25px;
}

#about.move2 {
  right: 890px;
  transition: 2s;
}

#line2.long2 {
  transition: 2s;
  width: 1000px;
  height: 2px;
  background-color: black;
  right: 930px
}
