html, body {
  margin: 0;
  font-family: "Lato", "Gill Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: whitesmoke;
}

/* p, h1, h2 {
  color: white;
} */

h1 {
  font-family: 'Playfair Display', serif;
}



code {
  font-family: "Gill Sans", sans-serif;
}

.Pane2 {
  text-align: center;
  margin: auto;
}
